{% extends 'layout/layout.html.twig' %}

{% block title %} {{ metadata.title }} {% endblock %}

{% block meta %}
    <meta name="title" content="{{ metadata.metaTitle }}">
    <meta name="description" content="{{ metadata.metaDescription }}">
    <meta name="keywords" content="{{ metadata.metaKeywords }}">
{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <div class="flex shadow-md my-4">
            <div class="w-3/4 bg-white px-10 py-10">
                <div class="flex justify-between border-b pb-8">
                    <h1 class="font-semibold text-2xl">Iepirkumu grozs</h1>
                    <h2 class="font-semibold text-2xl">{{ order.getOrderItems | length }} produkti</h2>
                </div>
                <div class="flex mt-10 mb-5">
                    <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Produkts</h3>
                    <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">Skaits</h3>
                    <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">Cena</h3>
                    <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">Kopā</h3>
                    <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/5 text-center">Noņemt</h3>
                </div>
                {% for item in order.getOrderItems %}
                    <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                        <div class="flex w-2/5"> <!-- Product -->
                            <div class="w-20">
                                <img class="h-24" src="{{ item.product.images|first }}" alt="{{ item.product.title }}">
                            </div>
                            <div class="flex flex-col justify-between ml-4 flex-grow">
                                <span class="font-bold text-sm">{{ item.product.title }}</span>
                                <span class="text-gray-500 text-xs">{{ item.product.category.name }}</span>
                            </div>
                        </div>
                        <form action="{{ path('update-cart-item') }}" method="post">
                            <input type="hidden" name="cartItemId" value="{{ item.id }}">
                            <input min="1" class="mx-2 text-center w-8" type="number" name="amount"
                                   value="{{ item.amount }}">
                            <button type="submit"
                                    class="fill-current text-gray-600 w-4 transform hover:text-purple-500">
                                Saglabāt
                            </button>
                        </form>
                        <span class="text-center w-1/5 font-semibold text-sm">${{ item.product.price }}</span>
                        <span class="text-center w-1/5 font-semibold text-sm">${{ (item.amount * item.product.price) | number_format(2, '.', ',') }}</span>
                        <form action="{{ path('remove-cart-item') }}" method="post">
                            <input type="hidden" name="cartItemId" value="{{ item.id }}">
                            <button type="submit" class="w-4 transform hover:scale-110">
                                ❌
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>
            <div id="summary" class="w-1/4 px-8 py-10">
                <h1 class="font-semibold text-2xl border-b pb-8">Pasūtījuma pārskats</h1>
                <div class="flex justify-between mt-10 mb-5">
                    <span class="font-semibold text-sm uppercase">{{ order.getOrderItems | length }} produkti</span>
                    <span class="font-semibold text-sm">{{ order.getTotalPrice | number_format(2) }}$</span>
                </div>
                <div class="py-10 flex gap-2">
                    <a href="{{ path('catalogue') }}"
                       class="bg-gray-500 hover:bg-gray-600 px-5 py-2 text-sm text-white uppercase">
                        Turpināt iepirkties
                    </a>
                    <a href="{{ path('checkout') }}"
                       class="bg-purple-500 hover:bg-purple-600 px-5 py-2 text-sm text-white uppercase">
                        Apmaksāt pasūtījumu
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}