{% extends 'layout/layout.html.twig' %}

{% block title %} {{ metadata.title }} {% endblock %}

{% block meta %}
    <meta name="title" content="{{ metadata.metaTitle }}">
    <meta name="description" content="{{ metadata.metaDescription }}">
    <meta name="keywords" content="{{ metadata.metaKeywords }}">
{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <div class="flex flex-wrap -mx-4">
            <!-- Sidebar for Filters -->
            <div class="w-full md:w-1/4 px-4 mb-4 md:mb-0">
                <div class="bg-white p-3 rounded-lg shadow-lg">
                    <h3 class="font-bold text-xl mb-4">Filtri</h3>
                    <form class="mb-4">
                        <label for="categoryFilter"
                               class="block text-gray-700 text-sm font-bold mb-2">Kategorija</label>
                        <select id="categoryFilter"
                                name="category"
                                class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            <option {{ selectedCategory == '' ? 'selected' : '' }} value="">Visas
                                kategorijas
                            </option>
                            {% for category in categories %}
                                <option {{ selectedCategory == category.name ? 'selected' : '' }}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit"
                                class="mt-4 bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1">
                            Lietot
                        </button>
                    </form>
                </div>
            </div>

            <!-- Products Grid -->
            <div class="w-full md:w-3/4 px-4">
                <div>
                    <div class="flex justify-center gap-4 mb-4">
                        {% if prevPageData %}
                            <a href="{{ path('catalogue', prevPageData) }}"
                               class="bg-gray-500 hover:bg-gray-600 px-5 py-2 text-sm text-white uppercase">
                                Iepriekšējā lapa
                            </a>
                        {% endif %}
                        <span class="bg-gray-100 rounded-full h-10 w-10 justify-center flex items-center">{{ page }}</span>
                        {% if nextPageData %}
                            <a href="{{ path('catalogue', nextPageData) }}"
                               class="bg-gray-500 hover:bg-gray-600 px-5 py-2 text-sm text-white uppercase">
                                Nākamā lapa
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                    {% for product in products %}
                        {% include 'partials/product-card.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}