<div class="relative">
    <img
            class="absolute inset-0 h-full w-full object-cover"
            src="{{ data.images[0].mob }}"
            srcset="{{ data.images[0].mob }} 360w, {{ data.images[0].desk }}"
            alt="hero">
    <div class="absolute inset-0 bg-black opacity-70"></div>
    <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl">{{ data.title }}</h1>
        <p class="mt-6 text-xl text-white max-w-3xl">{{ data.content[0] }}</p>
    </div>
</div>

<section class="text-gray-600 body-font">
    <p class="text-lg font-semibold my-6 mx-10">
        {{ data.content[1] }}
    </p>
    <div class="px-5 py-20 mx-auto">
        <div class="flex rounded overflow-auto h-48">
            {% for i in 1..10 %}
                <img
                        alt="gallery"
                        class="object-cover object-center w-48"
                        src="{{ data.images[1].mob }}"
                        srcset="{{ data.images[1].mob }} 360w, {{ data.images[1].desk }}"
                >
            {% endfor %}
        </div>
    </div>
</section>